<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class = "container">
<h1>Form for #Workout Endpoint</h1>
<form action = "/wo_endpoint" method = "post">
<div class = "row">
  <div class = "col-md-3">
    <label>Workout Experience (# of months)</label>
  </div>
  <div class = "col-md-6">
    <input type="number" name = "no_months" value="">
  </div>
</div>
  <br>
<div class = "row">
  <div class = "col-md-3">
    <label>Current Goal</label>
  </div>
  <div class = "col-md-6">
    <input type="text" name = "no_months" value="">
  </div>
</div>
  <br>
<div class = "row">
  <div class = "col-md-3">
    <label>Workouts per Week</label>
  </div>
  <div class = "col-md-6">
    <input type="number" name = "no_months" value="">
  </div>
</div>
  <br>
<div class = "row">
  <div class = "col-md-3">
    <label>Workout Duration</label>
  </div>
  <div class = "col-md-6">
    <input type="time" name = "no_months" value="">
  </div>
</div>
  <br>
<div class = "row">
  <div class = "col-md-3">
    <label>Active days (Monday - Sunday)</label>
  </div>
  <div class = "col-md-6">
        <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">Monday</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">Tuesday</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
      <label class="form-check-label" for="inlineCheckbox3">Wednesday</label>
    </div>
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">Thursday</label>
    </div>
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">Friday</label>
    </div>
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
    <label class="form-check-label" for="inlineCheckbox3">Saturday</label>
    </div>
    <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
    <label class="form-check-label" for="inlineCheckbox3">Sunday</label>
    </div>
  </div>
</div>
  <br>
<div class = "row">
  <div class = "col-md-3">
    <label>Prefered Equipment</label>
  </div>
  <div class = "col-md-6">
    <input type="text" name = "no_months" value="">
  </div>
</div>
  <br>
<div class = "row">
  <div class = "col-md-3">
    <label>Notes</label>
  </div>
  <div class = "col-md-6">
    <input type="textfield" name = "no_months" value="">
  </div>
</div>
  <br>
  <input type="submit" value = "Submit" class = "btn btn-primary">

</form>
</div>
